# Ignore temporary files
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.tmp
*.log

# Ignore specific files and directories
images/*
nerf_pytorch/data/nerf_synthetic/lego/*
nerf_pytorch/__pycache__/*
nerf_pytorch/logs/*
nerf_pytorch/.gitignore
nerf_pytorch/.gitmodules
LLFF/checkpoints/papermodel/*

# Ignore tar files
*.tar


