# Ignore temporary files
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.tmp
*.log

# Ignore specific files and directories
images/*
nerf_pytorchokmo/data/nerf_synthetic/lego/*
nerf_pytorchokmo/__pycache__/*
nerf_pytorchokmo/logs/*

# Ignore tar files
*.tar


